.container
  %h1 Slack iTunes Connect Autoingestion

  %p
    The URL you need to your Slack Slash Command integration:
    %br
    %strong #{slack_itc_autoingestion_url}.

  %p
    For more information on setting up ITC Autoingestion with your Slack, visit the
    %a{href: 'https://github.com/thesoapcollective/slack_itc_autoingestion'} GitHub Repo.
